body {
    background-color: black;
}

nav.navbar {
    color: #ffffff;
    position:absolute;
}

@media screen and (max-width: 600px) {
    div.tarjetas {
      display: none;
      background-color: #000;
    }
  }

  @media screen and (max-width: 600px) {
    footer {
      display: none;
      background-color: #000;
    }
  }

  html {
    scroll-behavior: smooth;
  }